.contents__boards-image{
  width: 300px;
  height: 236px;
  margin: 0px 48.5px;
  border-radius: 14px;
  object-fit: cover;
}

@media (max-width:480px){
  .contents__boards-image{
    margin: 0px 16.5px;
  }
}

@media (max-width:360px){
  .contents__boards-image{
    margin: 0px 10px;
    max-width: 280px;
  }
}