.contents__boards-image{
  background-image: url(../../../images/contents__boards-image.png);
  width: 300px;
  height: 236px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0px 48.5px;
  border-radius: 14px;
}

@media (max-width:480px){
  .contents__boards-image{
    margin: 0px 16.5px;
  }
}

@media (max-width:360px){
  .contents__boards-image{
    margin: 0px 10px;
    max-width: 280px;
  }
}