.header__buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
  margin-top: 95px;
}

@media (max-width:480px){
  .header__buttons{
    flex-direction: column;
  }
}