.advertisement__content{
  padding-left: 94px;
  max-width: 450px;
  width: 100%;
}

@media (max-width: 1024px){
  .advertisement__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}

@media (max-width: 480px){
  .advertisement__content{
    max-width: 320px;
  }
}