.features__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
}

@media (max-width:1024px){
  .features__container{
    flex-direction: column;
  }
}