.white-link{
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 13.5px 46px;
  transition: background-color 1s ease;
}

.white-link:hover{
  background-color: rgb(116, 112, 112);
}