.features__line-image{
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (max-width:1280px){
  .features__line-image{
    max-width:300px ;
  }
}

@media (max-width:768px){
  .features__line-image{
    max-width:232px ;
    left: 50%;
    transform: translateX(-50%);
  }
}
