.features__chat-image{
  max-width: 696px;
}

@media (max-width:1280px){
  .features__chat-image{
    max-width:450px ;
  }
}

@media (max-width:768px){
  .features__chat-image{
    max-width:324px ;
  }
}

@media (max-width:480px){
  .features__chat-image{
    max-width:300px ;
  }
}