.advertisement__image{
  position: absolute;
  right: 0;
  max-width: 585px;
  background-image: url(../../../images/advertisement__image.jpg);
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  bottom: 0;
  width: 100%;
}

@media (max-width:1280px){
  .advertisement__image{
    max-width: 485px;
  }
}


@media (max-width:1024px){
  .advertisement__image{
    position: relative;
    background-position: center;
  }
}

@media (max-width:768px){
  .advertisement__image{
    width: 100%;
    max-width: 320px;
  }
}