.advertisement__image{
  position: absolute;
  right: 0;
  width: 585px;
  background-image: url(../../../images/advertisement__image.png);
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
}