.header__burger{
  background-image: url(../../../images/header__burger-icon.png) ;
  display: none;
  width: 66px;
  height: 53px;
  background-color: transparent;
}


@media (max-width:1024px){
  .header__burger{
    display:block;
  }
}

