.footer{
  display: flex;
  justify-content: center;
  gap: 200px;
  margin: 207px 0px 107px;
  align-items: flex-start;
}

@media (max-width: 1024px){
  .footer{
    flex-direction: column;
  }
}

@media (max-width: 768px){
  .footer{
    margin: 107px 0px 107px;
  }
}