.section-title_align_left{
  text-align: left;
}


@media (max-width:1024px){
  .section-title_align_left{
    text-align: center;
  }
}

@media (max-width:768px){
  .section-title_align_left{
    width: calc(100% - 32px);
  }
}
